body {
	font-family: 'PT Sans', sans-serif;
}

ul, li {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
}

.header {
	background-image: url(img/bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	padding-bottom: 105px;
}

.logo {
	margin: 8px 0px 0px 0px;
}

.menu__item {
	margin: 0 57px 0 57px;
}

.menu__item a {
	font-size: 22px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.1);
}
