body {
	background: grey;
}

#container {
	text-align: center;
}

#numberPlace {
	color: blue;
	font-size: 40px;
	margin-bottom: 40px;
}

#generateButton {
	font-size: 20px;
	color: #fff;
	background: orange;
	padding: 10px;
}