ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

li {
	content: "";
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: #000;
	margin-right: 3px;
	margin-left: 3px;
	vertical-align: middle;
}

#red {
	background: #F00;
}

#blue {
	background: #00F;
}

#green {
	background: #0F0;
}

#yellow {
	background: #FF0;
}

#cyan {
	background: #0FF;
}

#magenta {
	background: #F0F;
}

#canvas {
	border: 3px solid #000;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	top: 100px;
}