ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

li {
	content: "";
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin-right: 2.5px;
	margin-left: 2.5px;
	vertical-align: middle;
}

#red {
	background: red;
}

#blue {
	background: blue;
}

#green {
	background: green;
}

#yellow {
	background: yellow;
}

#cyan {
	background: cyan;
}

#magenta {
	background: magenta;
}

#canvas {
	border: 2px solid #000;
	position: absolute;
	left: 50%;
	margin-left: -250px;
	top: 100px;
}