body {
	background: url('owl.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

img {
	width: 250px;
	transition: 0.5s ease;
}

img:hover {
	width: 300px;
	transition: 0.5s ease;
	cursor: pointer;
}

.red {
	color: red;
	font-size: 24px;
	text-shadow: 2px 2px 5px black;
	transition: 0.5s ease;
}

.red:hover {
	font-size: 30px;
	color: green;
	transition: 0.5s ease;
}

.blue {
	color: blue;
}